<footer>
  <div
    class="m-12 flex flex-row justify-between 2xl:justify-evenly px-2 lg:px-5"
  >
    <div
      class="text-center text-sm flex flex-row justify-center items-center font-bold"
    >
      <img src="images/logo.png" class="logo" alt="" />
      <p>© بليغ 2024</p>
    </div>
    <div
      class="font-bold flex flex-row justify-center pt-2 gap-4 content-center"
    >
      <a href="https://x.com/ArabicBaleegh"
        ><i class="fi fi-brands-twitter-alt"></i
      ></a>
      <a href="https://github.com/Elyas1422/Baleegh">
        <i class="fi fi-brands-github"></i>
      </a>
      <a href="mailto:arabic.baleeghgmail.com">
        <i class="fi fi-sc-envelope"></i>
      </a>
    </div>
  </div>
</footer>
