<app-navbar></app-navbar>
<div class="min-h-svh grid grid-cols-1 content-between lg:content-around">
  <main class="mt-20 lg:mt-28 2xl:mt-48">
    <app-tanslation-section class=""></app-tanslation-section>
  </main>
  <footer>
    <div class="m-14 text-2xl font-bold flex flex-row justify-center gap-4">
      <i class="fi fi-brands-twitter-alt"></i>
      <i class="fi fi-brands-github"></i><i class="fi fi-sc-envelope"></i>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>

<div class="fading-bg"></div>
